/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Montserrat Subrayada', sans-serif; */
/* default setting */
* {
  box-sizing: border-box;
}
body {
  margin: 0;

  font-size: 14px;
}
.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
  padding-left: 0;
}

/* home */
#home {
  background: url("images/background.png") center/cover no-repeat;
  text-align: center;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo > * {
  padding: 6px 10px;
  margin: 4px;
}
.navbar__logo > i {
  font-size: 20px;
}
.navbar__logo h1 a {
  color: #fff;
}
.navbar__menu ul {
  display: flex;
  justify-content: space-between;
}

.navbar__menu__item {
  padding: 6px 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 4px;
}
.navbar__menu__item.active,
.navbar__menu__item:hover {
  border: 1px solid #fff;
  background-color: #3d3d3d;
}

.home__title {
  padding-top: 80px;
}
.home__title h1 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  letter-spacing: 0.5em;
  color: #e3dede;
}

.home__services {
  padding-bottom: 50px;
}
.home__services ul {
  width: 244px;
  margin: 0 auto;
  display: flex;
}

.home__services ul li img {
  width: 80px;
  height: 80px;
}

/* about */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid#1795bf;
  border-radius: 50%;
  margin-bottom: 16px;
  color: #1795bf;
}

.major__icon i {
  transition: all 250ms ease;
}

.major__icon:hover {
  color: #016587;
}

.major__icon:hover i {
  transform: rotate(-15deg) scale(1.1);
}
