/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Montserrat Subrayada', sans-serif; */
/* default setting */
* {
  box-sizing: border-box;
  /* font-family: "Open Sans", sans-serif; */
}

button:focus {
  outline: none;
}
body {
  padding: 0;
  margin: 0;

  font-size: 14px;
}
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
  padding-left: 0;
}

/* nav&home */
#home {
  background: url("images/background.png") center/cover no-repeat;
  text-align: center;
  /* padding: 20px; */
  padding-top: 40px;
  transition: all 250ms ease-in-out;
  /* opacity: 0.3; */
}

.navbar {
  position: fixed;
  width: 100%;
  height: 57px;

  background-color: rgba(119, 120, 122, 0.4);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  transition: all 200ms ease-in-out;
  z-index: 999;
}

.navbar--dark {
  z-index: 999;
  padding: 0;
  background-color: rgba(61, 61, 61, 1);
}

.navbar__menu ul {
  margin: 0;
  display: flex;
  /* justify-content: space-around; */
}

.navbar__menu__item {
  padding: 5px 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 100ms ease-in;
}

.navbar__menu__item:hover {
  border: 1px solid #fff;
  background-color: #3d3d3d;
}
.navbar__toggle-btn {
  background-color: transparent;
  border: none;
  color: rgb(199, 105, 17, 1);
  position: absolute;
  font-size: 20px;
  right: 32px;
  top: 22px;
  display: none;
  cursor: pointer;
}

.navbar__toggle-btn i.close {
  display: none;
}

.home__title {
  padding-top: 80px;
}
.home__title h1 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  letter-spacing: 0.5em;
  color: #e3dede;
}

.home__title h1 p {
  color: red;
}

.home__services {
  padding-bottom: 50px;
}
.home__services ul {
  width: 163px;
  margin: 0 auto;
  display: flex;
}

.home__services ul li {
  font-size: 0;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Inconsolata", monospace;
}

.home__services ul li img {
  width: 80px;
  height: 80px;
}

.home__services ul li:hover {
  font-size: 16px;
}
.home__services ul li:hover img {
  width: 56px;
  height: 56px;
}

.home__services ul li:nth-child(1) {
  color: #428df5;
}
.home__services ul li:nth-child(2) {
  color: #eb9021;
}
.home__services ul li:nth-child(3) {
  color: #eb3626;
}

/* about */

#about > p {
  font-size: 16px;
}
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid#1795bf;
  border-radius: 50%;
  margin-bottom: 16px;
  color: #1795bf;
}

.major__icon i {
  transition: all 250ms ease;
}

.major__icon:hover {
  color: #016587;
}

.major__icon:hover i {
  transform: rotate(-15deg) scale(1.1);
}

/* skills */
#skills {
  background-color: #faf6d4;
}

.skillset {
  display: flex;
  background-color: darkgrey;
  color: white;
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: #70706e;
  padding: 20px 40px;
}
/* 왜 다크그레이가 더 연하지... 무튼 */
.skillset__right {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.tools {
  flex-basis: 55%;
  background-color: grey;
  padding: 20px;
}

.tools__list > li {
  padding-bottom: 10px;
}
.etc {
  /* flex-basis: 45%; */
  padding: 20px;
}

.etc__list > li {
  padding-bottom: 10px;
}
.skill {
  margin-bottom: 24px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: grey;
}

.skill__value {
  height: 3px;
  background-color: #f5ad38;
}
/*work  */

.project__image {
  width: 100px;
  height: 200px;
}

.work__categories {
  margin: 40px;
  display: flex;
}
.category_btn {
  /* width: 140px; */
  /* width: 25%; */
  /* height: 38px; */
  /* 이 위에 높이 주석 처리 해도 똑같이 38px뜨길래 해놨는데, 나중에 문제 생기면 풀도록 */
  border: 1px solid #f5f1eb;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 0;
  margin-top: 12px;
  margin-left: 5px;
  cursor: pointer;
  flex-grow: 1;
}

.category_btn.active,
.category_btn:hover {
  background-color: #3d3d3d;
  color: white;
}

.category__count {
  transition: all 250ms ease;
  font-size: 12px;
  border: 1px solid #f5ad38;
  background-color: #f5ad38;
  display: inline-block;
  line-height: 19px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  margin-left: 5px;
  position: relative;
  top: -20px;
  left: 4px;
}
.category_btn.active .category__count,
.category_btn:hover .category__count {
  top: 0;
  left: 0;
}

.work__projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: all 250ms ease-out;
}
.work__projects.anim-out {
  opacity: 0.1;
  transform: scale(0.97) translateY(10px);
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: ghostwhite;
}
.project.invisible {
  display: none;
}
.project__image {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all 250ms ease;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}
.project__description h3:after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  margin-top: 8px;
}

#contact {
  background-color: #3d3d3d;
  color: #fff;
}
.contact__title {
  font-size: 40px;
  margin: 32px 0;
}

.contact__email {
  font-size: 23px;
}

.contact__links {
  padding-bottom: 20px;
}

.contact__links i {
  transition: all 250ms ease;
  font-size: 24px;
  padding: 0 8px;
  color: #fff;
}
.contact__links i:hover {
  transform: scale(1.2);
}

.contact__info {
  width: 440px;
  margin: 0 auto;
}

.contact__info ul {
  display: flex;

  flex-direction: column;
  /* justify-content: space-around; */
}

.contact__info ul li {
  padding-top: 5px;
}

.contact__info a {
  cursor: pointer;
  color: #fff;
}
/* arrowup */

.arrow-up {
  position: fixed;
  bottom: 40px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  color: #fff;
  background-color: #3d3d3d;
  opacity: 0;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
  pointer-events: none;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(119, 120, 122, 0);
  }
  .navbar__toggle-btn {
    display: block;
  }
  .navbar__menu {
    display: none;
    position: relative;
    top: 150px;
    text-align: center;
  }
  .navbarOpener {
    display: block;
  }

  .navbar__menu ul {
    flex-direction: column;
    background-color: #3d3d3d;
    color: rgb(199, 105, 17, 1);
    font-weight: bold;
    width: 768px;
  }
  /* .navbar__menu ul li {
    padding-left: 50px;
    padding-right: 50px;
  } */
  .navbar__menu ul li:last-child {
    padding-bottom: 15px;
  }

  /* .home__services ul li {
    font-size: 0;
    font-family: "Ubuntu", sans-serif;
    font-family: "Inconsolata", monospace;
  }
  
  .home__services ul li img {
    width: 80px;
    height: 80px;
  }
  
  .home__services ul li:hover {
    font-size: 16px;
  }
  .home__services ul li:hover img {
    width: 56px;
    height: 56px;
  }
  
  .home__services ul li:nth-child(1) {
    color: #428df5;
  }
  .home__services ul li:nth-child(2) {
    color: #eb9021;
  }
  .home__services ul li:nth-child(3) {
    color: #eb3626;
  } */
  #home {
    padding-bottom: 45px;
  }
  .home__services ul li:hover {
    font-size: 0;
  }
  .home__services ul li:hover img {
    width: 80px;
    height: 80px;
  }
  .home__title img {
    width: 0;
    height: 0;
  }
  .home__title h1 {
    font-size: 16px;
    color: grey;
  }

  .home__title h1 p {
    color: red;
  }

  .home__services img {
    width: 0;
  }
  .about__majors {
    flex-direction: column;
  }
  .major {
    margin-bottom: 20px;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
  .about__majors {
    margin: 20px 0;
  }
  .work__categories {
    margin: 20px;
    flex-direction: column;
  }
  .category_btn {
    margin-left: 0;
    letter-spacing: 0.1em;
  }
  .category__count {
    top: 0;
    left: 20px;
  }
  .arrow-up {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
  }
}

/* .example {
  background-color: skyblue;
  display: flex;
  flex-direction: column;
}
.a {
  display: flex;
  background-color: yellow;
  width: 100px;
  margin: 10px;
}
.b {
  background-color: green;
  width: 100px;
}
.c {
  background-color: red;
  width: 100px;
}
.d {
  flex-grow: 1;
  background-color: orange;
}
.e {
  margin-left: 5px;
  flex-grow: 1;
  background-color: blue;
}
.f {
  margin-left: 5px;
  flex-grow: 1;
  background-color: purple;
} */
